*{
    box-sizing: border-box;
}
body{
    margin: 0px;

}
.content{
    margin: 30px;
}
.container{
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}
img{
    width: 700px;
    max-width: 100%;
}
.text{
    opacity: 0;
    transform: translateY(15px);
    transition: all 1s ease;
}

.text.show-reveal{
    opacity: 1;
    transform: translateY(0);
}
